/* @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
}

body {
    min-height: 100vh;
    background-color: dodgerblue;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
}

section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(0,0,0,0.4);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a, a:visited {
    color: #fff;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

li {
    list-style-type: none;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.flexGrow {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
} */

.gallery {

    background-color: #ffffff;
    color: white;
    padding: 5px;
    border-radius: 12px;
    box-shadow: 2px 2px 20px -5px #ffffff;


}

#card1 {

    border-width: 2px;
    border-color: #ffffff;

    border-radius: 6px;
    margin-left: 40px;
    margin-right: 25px;
    margin-bottom: 20px;
    margin-top: 20px;

    background-clip: border-box;
    border: var(--bs-card-border-width) solid rgba(0, 0, 0, 0.10);
    align-items: flex-start;
    flex-direction: row;
    font-size: small;
}


#card2 {

    align-items: flex-start;
    margin-top: 20;
    row-gap: 1.55rem;
    flex-flow: wrap;
}


#build {
    border-width: 2px;
    border-color: #ffffff;

    border-radius: 15px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: aliceblue;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

    column-gap: 12px;

    width: 96vw;
    height: 64vh;

}

#card3 {

    border: 20px;
    width: 320rem;
    /* height: 26rem; */
    /* width: 14rem;  */
    /* height: 60vh; */
    margin-block: 10px;
    padding-block: 10px;
}

#roomimg {

    border: 2px;
    margin: 6px;
    padding: 2px;

}

#btnroom {

    width: initial;
    /* align-content: stretch; */
    padding: 4px;
    margin: 1px;

}

#buildhead {

    text-align: center;
    margin-top: 15px;
}

.link {
    text-decoration: none;
    color: black;
}
#footer {
    position:absolute;
    bottom:-200px;
    width:100%;
      
    background:#6cf;
 }
 .error {
    background-color: lightpink;
    color: firebrick;
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    
}
 .success {
    background-color: rgb(203, 255, 229);
    /* color: firebrick; */
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    color : white;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }